$mainfont: sans-serif;

h1 {
    font-family: $mainfont;
}

.grid {
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-auto-columns: 1fr 200px;
}

.grid-item {
    grid-column: 1;
    background-color: green($color: green);
}

img {
    height: 30px;
    width: 90px;
    float: left;
}

nav {
    text-align: right;
}

nav > a {
    padding: 1%;
    font-family: $mainfont;
    font-size: 12px;
    text-align: right;
}


.input-container {
    display: flex;
    flex-direction: row;
  }
  
.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
  }

h4 {
    padding: 30px;
    color: #d93025;
    font-size: 22px;
}

p {
    padding-top: 30px;
    padding-left: 30px;
}

form {
    padding: 30px;
    padding-top: 0px;
}